---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import { getSanity } from "../../lib/api";
import { getLocale } from "i18n:astro";
import { getDefaultLocale } from "i18n:astro";

const language = getLocale();
const defaultLanguage = getDefaultLocale();

let query = `*[ _type == "home" && language == '${language}']`;
let sections = await getSanity([query]);
console.log(sections);
---

<Layout title="test">
	<main>
		{
			sections?.[0]?.section.map((section: any) => {
				switch (section._type) {
					case "hero":
						return (
							<>
								<h1>{section.title}</h1>
								<p>{section.text}</p>
							</>
						);
					default:
						return null;
				}
			})
		}
	</main>
</Layout>
